apparmor==3.1.2
appdirs==1.4.4
attrs==22.1.0
autocommand==2.2.2
autopep8==2.0.0
Brlapi==0.8.4
btrfsutil==6.0.2
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.0
cryptography==38.0.4
Cython==0.29.32
docutils==0.19
et-xmlfile==1.1.0
idna==3.4
inflect==6.0.2
jaraco.context==4.2.0
jaraco.functools==3.5.2
jaraco.text==3.11.0
lensfun==0.3.3
LibAppArmor==3.1.2
libfdt==1.6.1
louis==3.24.0
meson==0.64.1
more-itertools==9.0.0
netsnmp-python==1.0a1
numpy==1.23.4
openpyxl==3.0.10
ordered-set==4.1.0
packaging==21.3
pandas==1.5.1
pdfminer.six==20220524
pdfplumber==0.7.5
Pillow==9.2.0
ply==3.11
pwquality==1.4.5
pycairo==1.23.0
pycodestyle==2.9.1
pycparser==2.21
pydantic==1.10.2
PyGObject==3.42.2
pyparsing==3.0.9
PyPDF2==2.12.1
python-dateutil==2.8.2
pytz==2022.5
pyxdg==0.28
requests==2.28.1
setproctitle==1.3.1
six==1.16.0
team==1.0
tomli==2.0.1
trove-classifiers==2022.12.1
typing_extensions==4.4.0
urllib3==1.26.12
validate-pyproject==0.10.1
Wand==0.6.10
xlrd==2.0.1
